<app-alert-error [message]="message"></app-alert-error>
<div class="row m-5">
  <div class="col">
    <table class="table">
      <thead>
        <tr>
          <th>Foto</th>
          <th>Albun</th>
          <th>Canción</th>
          <th>Vista Previa</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let track of tracks">
          <td><img [src]="track.album.images | noimage" class="img-thumb" alt=""></td>
          <td>{{track.album.name}}</td>
          <td>{{track.name}}</td>
          <td>
            <iframe [src]="track.uri | domseguro : urlPlay" width="300" height="80" frameborder="0"
              allowtransparency="true" allow="encrypted-media">
            </iframe>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
